div#forms {
    height: 100px;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

div.stuff{
    display: flex;
    margin-top: 30px;
}

div#shape-container {
    height: 600px;
    width: 600px;
    background-color: blue;
    position: relative;
    border: 2px solid black;
}

div#information {
    background-color: aqua;
    height: 600px;
    width: 200px;
    margin-left: 100px;
    justify-content: center;
    border: 2px solid black;
}


form {
    border: 2px solid black;
    text-align: center;
}

div#information h2 {
    margin: none;
    text-align: center;
}

.square {
    background-color: red;
    height: 5px;
    width: 5px;
    display: none;
    position: absolute;
}

.rectangle {
    background-color: green;
    height: 5px;
    width: 10px;
    display: none;
    position: absolute;
}

.circle {
    background-color: violet;
    height: 6px;
    width: 6px;
    /* this means it has a radius of 3px */
    border-radius: 50%;
    display: none;
    position: absolute;
}

.triangle {
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-bottom: 5px solid yellow;
    display: none;
    position: absolute;
}